*{
    margin: 0px;
}
body{
    min-height: 100vh;
}

.header,.graphContainer{
    width:9cm;
}

p{
    font-size: 11px;
}

  @media only screen and (min-width: 480px) {
    .header,.graphContainer{
        width:12cm;
    }
  }